.login100-form {
  width: 500px !important;
  justify-content: center;
}

.login100-form-title {
  font-weight: bolder;
  padding-bottom: 0px !important;
}

.wrap-login100 {
  justify-content: center !important;
  padding-top: 75px !important;
}

.login100-form-subtitle{
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #434343;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.error{
  font-family: "Nunito", sans-serif;
  text-align: left;
  color: red;
  margin-left: 20px;
  padding-bottom: 5px;
}
