/* Variables */
:root {
    /* Color */
    --text-color: #424242;
    --icon-color: #B4B4B8;

    /* Formating */
    --default-spacing: 24px;
}

/* COMMON */
body {
    font-family: "Nunito", sans-serif;
    color: var(--text-color);
}

/* Sidebar */
#sidebar {
    flex-direction: column;
    width: 76px;
}