/* Variables */
:root {
    /* Color */
    --text-color: #424242;

    /* Formating */
    --default-spacing: 24px;
    --mt: 40px;
    --bo: 12px;
}

/* COMMON */
body {
    font-family: "Nunito", sans-serif;
    color: var(--text-color);
}

.nav-link {
    color: #424242;
}

.nav-link:hover {
    color: #C7C8CC;
}

    /* Sidebar */
    #sidebar {
        flex-direction: column;
        justify-content: space-between;
        position: fixed;

        height: 100%;

        margin: 0;
        padding: var(--default-spacing) 0;

        background-color: #B4B4B8;
        box-shadow: 2px 0 2px #D2D2D2;
    }

    .icon {
        padding: 12px 0;
    }
    .icon:hover {
        opacity: 0.8;
    }

    .tools {
        display: flex;
        flex-direction: column;
    }

    /* Sub Header */
    .sub-header {
        align-items: center;
        justify-content: space-between;

        border-bottom: 1px solid #B4B4B8;
    }

    .log-sign {
        display: flex;
        justify-content: center;
    }

    /* Footer */
    #footer {
        background-color: #424242;
    }

    #to-top {
        position: fixed;
        bottom: 8%;
        right: 4%;

        z-index: 1;
    }

    #to-top button {
        padding: 8px;
        border: none;
        border-radius: 50%;

        background-color: #B4B4B8;
    }

main {
    height: 1200px;
}
/* --- */

/* HOME PAGE */
.home-page {
    margin-left: 72px;
}